<!-- <p>about-home works!</p> -->
<div class="background">
    <div class="container mt-5 pt-5">
        <div class="row mt-5 pt-5 mx-auto justify-content-center"> 
            <div class="col-sm">
                <img src="../../../../assets/images/home/me.jpg" class="rounded float-start img-fluid" alt="...">
            </div>
            <div class="col-sm">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page">
                          <app-about-me></app-about-me>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>