<!-- <p>skills-home works!</p> -->
<div class="background">
    <div class="container mt-5 pt-5">
      <div class="row mx-auto justify-content-center mt-5 pt-5">
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/angular-material.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Angular Material</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/angular.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/bootstrap.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/bulma.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/c.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/html5-css3-js.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/java.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/maria-db.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/mysql.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/images/skills/mysql.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>